@import '@styles/mixins';
@import '@styles/variables';

.banner {
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-align: center;
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;

    @include breakpoint(sm) {
        padding: 24px;
    }

    @include breakpoint(md) {
        flex-direction: row;
        text-align: center;
    }
}

.text {
    h2 {
        color: $heading;
        font-size: 30px;
        line-height: 40px;
        font-weight: 800;
        margin: 12px 0 8px;
        
        @include breakpoint(md) {
            font-size: 44px;
        }
        
        @include breakpoint(lg) {
            font-size: 52px;
        }
    }

    p {
        font-size: 22px;
        line-height: 33px;
        
        @include breakpoint(md) {
            font-size: 32px;
            line-height: 40px;
        }
        
        @include breakpoint(lg) {
            font-size: 40px;
            line-height: 54px;
        }
    }

    @include breakpoint(md) {
        text-align: left;
    }
}