@import '@styles/mixins';
@import '@styles/variables';

.typography {
    &--variant {
        &-p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

        &-span {
        
        }

        &-h1 {
            font-size: 48px;
            color: $heading;
            font-weight: 700;
            line-height: 40px;
        }
        
        &-h2 {
            font-size: 36px;
            color: $heading;
            font-weight: 700;
            line-height: 40px;
        }
        
        &-h3 {
            font-size: 24px;
            color: $heading;
            font-weight: 700;
            line-height: 40px;
        }
    }

    &--margin {
        &-sm {
            margin-bottom: 8px;
        }

        &-md {
            margin-bottom: 16px;
        }

        &-l {
            margin-bottom: 24px;
        }

        &-xl {
            margin-bottom: 32px;
        }
    }

    &--alignment {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }
}
