html {
    font-family: $mainFont;
}

body {
    // background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),  url('../assets/images/bg01.png');
    // background-color: $bgColor;
    // background-position: top left, top left,;
    // background-repeat: repeat-x, repeat;
    // background-size: 100% 0, auto;
}