$mainFont: 'Open Sans';
$articleFont: 'Oleo Script', serif;


$bgColor: #f7f7f7;
$logo: #ff4486;
$white: #fff;
$text: #696969;
$heading: #444;

$boxShadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
$borderRadius: 6px;