$mainFont: 'Open Sans';
$articleFont: 'Oleo Script', serif;


$primary: #0090c5;
$primaryHover: #10a0d5;
$secondary: #ff4486;
$bgColor: #f7f7f7;
$white: #fff;
$cloud: #e8e8e8;
$text: #696969;
$heading: #444;

$boxShadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
$borderRadius: 6px;