@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");
@import "./../assets/css/fontawesome-all.min.css";

@import "normalize.css/normalize.css";
@import "./reset";
@import './_variables.scss';
@import './_global.scss';