@import '@styles/mixins';
@import '@styles/variables';

.root {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)),  url('./bg.png');
    background-color: $bgColor;
    background-position: top left, top left,;
    background-repeat: repeat-x, repeat;
    background-size: 100% 0, auto;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include container;
}
