@import '@styles/mixins';
@import '@styles/variables';

.card {
   box-shadow: $boxShadow;
   border-radius: $borderRadius;
   text-decoration: none;
   color: $text;
   width: 100%;
   overflow: hidden;

   @include breakpoint(md) {
    width: calc(33.333% - 27px);
   }

   &:hover {
    color: $text;
   }
}

.content {
    background-color: $white;
    padding: 30px 15px;
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: 800;
    color: $heading;
    margin-bottom: 10px;

    @include breakpoint(lg) {
        font-size: 22px;
    }

    @include breakpoint(xl) {
        font-size: 24px;
    }
}

.subTitle,
.description {
    font-size: 14px;
    line-height: 30px;

    @include breakpoint(lg) {
        font-size: 16px;
        line-height: 36px;
    }

    @include breakpoint(xl) {
        font-size: 18px;
        line-height: 39px;
    }
}
