@import '@styles/mixins';
@import '@styles/variables';

.listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
    
    @include breakpoint(md) {
        flex-direction: row;
        row-gap: 40px;
        column-gap: 40px;
    }
}
