@import '@styles/mixins';
@import '@styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    padding: 77px 0 48px;

    // @include breakpoint(md) {
    //     padding-left: 24px;
    //     padding-right: 24px;
    // }

    // @include breakpoint(xl) {
    //     padding-left: 0;
    //     padding-right: 0;
    // }
}

.logo {
    background: $secondary;
    color: $white;
    border-radius: $borderRadius;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    height: 67px;
    line-height: 67px;
    padding: 0 10px;
    font-size: 52px;
    letter-spacing: 0.05em;
    margin: 0 auto;
    text-decoration: none;

    @include breakpoint(md) {
        margin: 0;
    }

    &:hover {
        color: $white;
    }
}

