.header {
    display: flex;
    justify-content: space-between;
    padding: 77px 0 48px;
}

.logo {
    background: #ff4486;
    color: #fff;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    height: 67px;
    line-height: 67px;
    padding: 0 10px;
    font-size: 52px;
    letter-spacing: 0.05em;
}

